@import './nav.css';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter;
}


:root {
    --nav-background: rgb(25,25,25);
    --text-color: rgb(210,210,210);
    --text-color-selected: rgb(255,255,255);
    --navbar-height: 75px;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: var(--navbar-height);
    background-color: var(--nav-background);
    color: var(--text-color);
    top: 0;
    padding: 0;
    margin: 0;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: var(--navbar-height);
}

